<a href="https://colab.research.google.com/github/WinnieSue/Loan-prediction/blob/main/loan_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Source of data : Kaggle (https://www.kaggle.com/datasets/mirzahasnine/loan-data-set?select=loan_test.csv) 

2) Brief description of data: The data contains information about applicants for loans in a bank. The information is to help us know if the person will be approved to get a loan or not.


The data has a train set and a test set

3) What is the target? The target is the Status. Yes or No.

4) Is this a classification or regression problem? It is a classification problem.

5) How many features? 11

6) How many rows of data. 641

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
The data has quite a number of missing values and this is a challenge to be dealt with.

There is also a class imbalance that has to be dealt with.

In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('/content/loan_train.csv')
df.head()

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,600000,0.0,14100000,360.0,1.0,Urban,Y

In [14]:
df.shape

(614, 12)

In [15]:
df.isna().sum()

Gender                13
Married                3
Dependents            15
Education              0
Self_Employed         32
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                  14
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Gender              601 non-null    object
 1   Married             611 non-null    object
 2   Dependents          599 non-null    object
 3   Education           614 non-null    object
 4   Self_Employed       582 non-null    object
 5   Applicant_Income    614 non-null    int64
 6   Coapplicant_Income  614 non-null    float64
 7   Loan_Amount         614 non-null    int64
 8   Term                600 non-null    float64
 9   Credit_History      564 non-null    float64
 10  Area                614 non-null    object
 11  Status              614 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 57.7+ KB

In [17]:
df['Status'].value_counts(normalize = True)

Y    0.687296
N    0.312704
Name: Status, dtype: float64